// --------------------------------------------------
            // $Layout
// --------------------------------------

body{
  font-family: $font-page;
  margin: 0;
  padding: 0;
}

// Empieza la cabecera

.cabecera{
  background-color: $color-white;
  position: sticky;
  top:0;
  padding: 20px 0px;
  z-index: 2;
}

.cabecera nav{
  width: 100%;

}

.cabecera ul{
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.cabecera li{
  list-style: none;
  display:  inline-block;
  margin: 5px 5px;
}

.cabecera li a{
  text-decoration: none;
  color: $color-black;
  font-size: $basefontsize;
  font-weight: $font-weight;
  &:hover{
    color: $color-gray;
  }
}


// Aqui acaba la cabecera


.portada{
  height: $presentation;
  position: relative;
  padding: $padding-section;
  display: flex;
  justify-content: flex-end;
  @include respond-to($md-port){
    justify-content: center;
    align-items: center;
    }
  &__img{
    margin: 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 90%;
    filter: brightness(50%);
  }
  &__text{
    color: $color-white;
    @include content-center(flex);
    align-items: flex-start;
    width: 50%;
    @include respond-to($md-port){
      align-items: center;
      width: 100%;}

  }
  &__text__button{
    color:$color-black;
    background-color: $color-white;
    padding: $padding-button;
    text-decoration: none;
    border: none;
    margin-top: 20px;
    font-weight: $font-weight;
    border-radius: 5px;
    align-self: flex-end;
    margin-right: 50px;
    @include respond-to($md-port){
      align-self: center;
      width: 100%;
      margin-right: 0;}
  }

  &__text__button:hover{
    background-color: rgb(255,255,255,.40);

  }

}

// Aqui acaba la portada

.ventajas-section{
  @include content-center(flex);
}

.__container_ventajas{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  @include respond-to($md-port){
    grid-template-columns: repeat(1, 1fr);
  }
}
